body{
    background-color: rgb(185, 235, 235);
}

.o {
    background-color: rgb(242, 35, 83);
    display: inline-block;
    float: left;
    width: 200px;
    height: 120px;
}

.t {
    background-color: rgb(17, 149, 144);
    display: inline-block;
    float: left;
    width: 300px;
    height: 120px;
    margin-left: 0.5%;
}
.tr {
        background-color: rgb(3, 108, 71);
        display: inline-block;
        float: left;
        width: 100px;
        height: 120px;
        margin-left: 0.5%;
    }

    .f {
        background-color: rgb(33, 133, 239);
        display: inline-block;
        float: left;
        width: 100px;
        height: 400px;
        margin-left: 0.5%;
    }
    .fv {
        background-color: rgb(1, 48, 98);
        display: inline-block;
        float: left;
        width: 140px;
        height: 400px;
        margin-left: 0.5%;
    }
    .six {
        background-color: rgb(98, 162, 246);
        display: inline-block;
        float: left;
        width: 30px;
        height: 400px;
        margin-left: 0.5%;
    }
    .d{
        
            width: 200px;
            height: 270px;
            background-color:orangered;
            display:inline-block;
            float: left;
            position: relative;
            top:104px ;
            right:930px;
            
            padding: 0.2px;
            margin: 20px;
        }
        .dd {
            
                width: 390px;
                height: 250px;
                background-color:rgb(254, 114, 63);
                display:inline-block;
                float: left;
                position: relative;
                bottom:206px ;
                right:725px;
                
                padding: 12px;
                margin: 20px;
            }
        
